</div>
</div>

            </div><!-- /#main -->

            
<div id="sidebar">

    <div id="woo_blogauthorinfo-3" class="widget widget_woo_blogauthorinfo">
        <span class="left">
            <img src="https://s3.amazonaws.com/hackedu/audreywatters_75.jpg" align="left" style="margin:10px;" />
        </span>

        <p><b>Audrey Watters</b> is an education writer, rabble-rouser, rambler, recovering academic, lifelong learner, serial dropout, part-time badass, mom.</p>
    
        <!-- Audrey's Social Sharing Buttons -->

        <a href="mailto:audrey.watters@gmail.com"><img src="https://s3.amazonaws.com/hackedu/email24.png"></a>
        <a href="http://twitter.com/audreywatters"><img src="https://s3.amazonaws.com/hackedu/twitter-224.png"></a>
        <a href="http://facebook.com/audrey.watters"><img src="https://s3.amazonaws.com/hackedu/facebook24.png"></a>
        <a rel="author" href="https://plus.google.com/108741250435676131889"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" width="24" height="24"></a>
        <a href="http://www.linkedin.com/in/audreywatters"><img src="https://s3.amazonaws.com/hackedu/linkedin24.png"></a>
        <a href="http://www.youtube.com/user/audreywatters"><img src="https://s3.amazonaws.com/hackedu/youtube24.png"></a>
        <a href="http://www.flickr.com/photos/surreal_badger"><img src="https://s3.amazonaws.com/hackedu/flickr24.png"></a>
        <a href="https://github.com/audreywatters"><img src="https://s3.amazonaws.com/hackedu/github24.png"></a>
        <a href="http://www.slideshare.net/audreywatters"><img src="https://s3.amazonaws.com/hackedu/slideshare24.png"></a>
        <a href="http://audreywatters.tumblr.com"><img src="https://s3.amazonaws.com/audreywatters/tumblr.png"></a>
        <a href="http://www.quora.com/Audrey-Watters"><img src="https://s3.amazonaws.com/hackedu/quora24.png"></a>

        <!-- Audrey's Button END -->
 
    
<br>    
<br> 

        <span class="left">
            <img src="https://s3.amazonaws.com/techgypsies/kin75_2012.jpg" align="left" style="margin:10px;" />
        </span>
        <p><b>Kin Lane</b> is the API evangelist, an engineer, an entrepreneur, a hacker, a writer, a tech gypsy, a beer snob, and a father.</p>
<br>
        <p><a href="http://feeds.feedburner.com/apievangelist.com"><img src="https://s3.amazonaws.com/hackedu/rss.png"></a>
        <a rel="author" href="https://plus.google.com/106460238807821851374"><img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32"></a>
        <a href="http://twitter.com/kinlane"><img src="https://s3.amazonaws.com/hackedu/twitter-2.png"></a>
        <a href="https://www.facebook.com/kinlane"><img src="https://s3.amazonaws.com/hackedu/facebook.png"></a>
        <a href="http://www.linkedin.com/in/kinlane"><img src="https://s3.amazonaws.com/hackedu/linkedin.png"></a>
        <a href="http://www.youtube.com/user/kinlane"><img src="https://s3.amazonaws.com/hackedu/youtube.png"></a>
        <a href="http://www.quora.com/Kin-Lane"><img src="https://s3.amazonaws.com/hackedu/quora.png"></a>
        <a href="http://www.flickr.com/photos/kinlane"><img src="https://s3.amazonaws.com/hackedu/flickr.png"></a>


    </div>
    
    

    <div id="rss-5" class="widget widget_rss">
        
        <h3>
            <a class='rsswidget' href='http://feeds.feedburner.com/hackeducation' title='Syndicate this content'>
                <img style='border:0' width='14' height='14' src="https://s3.amazonaws.com/hackedu/rss_img.jpg" alt='RSS' />
            </a> 
            <a class='rsswidget' href='http://hackeducation.com' title='Hack Education'>Hack Education</a>
        </h3>
        <ul>

                                <li><a href="">Support Hack Education</a> <span class="rss-date">December 24, 2013</span></li>
                                        <li><a href="">Top Ed-Tech Trends of 2013</a> <span class="rss-date">December 23, 2013</span></li>
                                        <li><a href="">Top Ed-Tech Trends of 2013: The Business of Ed-Tech</a> <span class="rss-date">December 23, 2013</span></li>
                                        <li><a href="">Hack Education Weekly News: Big Bucks for DreamBox Learning, Knewton, Khan Academy</a> <span class="rss-date">December 20, 2013</span></li>
                                        <li><a href="">Top Ed-Tech Trends of 2013: What Counts "For Credit"</a> <span class="rss-date">December 19, 2013</span></li>
                                    
            
        </ul>
    
    </div>

    <div id="rss-5" class="widget widget_rss">
        
        <h3>
            <a class='rsswidget' href='http://feeds.feedburner.com/apievangelist' title='Syndicate this content'>
                <img style='border:0' width='14' height='14' src="https://s3.amazonaws.com/hackedu/rss_img.jpg" alt='RSS' />
            </a> 
            <a class='rsswidget' href='http://apievangelist.com' title='API Evangelist'>API Evangelist</a>
        </h3>
        <ul>

                                <li><a href="">The Holy Grail of APIs</a> <span class="rss-date">December 20, 2013</span></li>
                                        <li><a href="">Every Form Should Be An API</a> <span class="rss-date">December 19, 2013</span></li>
                                        <li><a href="">An API Is Research And Development For Your Business Model</a> <span class="rss-date">December 19, 2013</span></li>
                                        <li><a href="">Charging For Higher Levels Of Access To Government Data and APIs</a> <span class="rss-date">December 16, 2013</span></li>
                                        <li><a href="">An API Evangelist Review Of Your API</a> <span class="rss-date">December 12, 2013</span></li>
                                    
            
        </ul>
    
    </div>

</div>  

        </div><!-- /#main-sidebar-container -->         

    </div><!-- /#content -->

    <div id="footer" class="col-full">

        <div id="copyright" class="col-left">
            <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></p>        
        </div>
        
        <div id="credit" class="col-right">
                
        </div>

    </div><!-- /#footer  -->

</div><!-- /#wrapper -->

<!-- Start of Google Code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12878826-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End of Google Code -->

</body>
</html>
