<div id="wrapper">
    <div id="header" class="col-full">
        <div id="logo">
            
            <a href="http://techgypsi.es" title=""></a>

        </div>

    </div>
    
    <div id="navigation" class="col-full">

        <ul id="main-nav" class="nav fl">
            <li class="page_item current_page_item"><a href="/">Home</a></li>          
            <li class="page_item page-item-1"><a href="http://kinlane.com">About Kin Lane</a></li>
            <li class="page_item page-item-1"><a href="http://apievangelist.com">API Evangelist</a></li>
            <li class="page_item page-item-2"><a href="http://audreywatters.com">About Audrey Watters</a></li>  
            <li class="page_item page-item-2"><a href="http://hackeducation.com">Hack Education</a></li>        
        </ul>
        
        <ul class="rss fr">
            <li class="sub-rss"><a href="http://feeds.feedburner.com/techgypsies">Subscribe to RSS</a></li>
        </ul>
        
    </div><!-- /#navigation -->

    <!-- #content Starts -->
    <div id="content" class="col-full">

        <div id="main-sidebar-container">

            <!-- #main Starts -->
            <div id="main">      
                             
            <div class="post-1 page type-page status-publish hentry">
    <div class="entry">